html,
body {
  background-color: #111;
  text-align: center;
  margin:0;
  padding: 0;
  overflow: hidden;
}
textarea {
  vertical-align: bottom;
}

#bottom-bar {
  width: 90px;
  height: 40px;
  background-color: darkslategrey;
}

#output {
  left:0;
  font-size: smaller;
  height: 40px;
  overflow: auto;
  background-color: brown;
  color:cornsilk;
}
#output > p {
  overflow-wrap: break-word;
}
#output div.error {
  color: red;
}

.holder {
  font-size: smaller;
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: silver;
  height: 40px;
}