html,
body {
  background-color: #111;
  text-align: center;
  margin:0;
  padding: 0;
  overflow: hidden;
}
textarea {
  vertical-align: bottom;
  background-color: brown;
  color:cornsilk;
}

button {
  font-size: smaller;
}

#bottom-bar {
  width: 200px;
  background-color: brown;
  color:cornsilk;
}

.bottomItems {
  display: flex;
  padding-top: 1px;
  border: 1px solid orangered;
  margin-right: 10px;
  margin-left: 10px;
}

#output {
  left:0;
  font-size: smaller;
  overflow: auto;
}
#output > p {
  overflow-wrap: break-word;
}
#output div.error {
  color: red;
}

.holder {
  box-shadow: 0px 0px 2px #ff8800;
  font-size: smaller;
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: brown;
  color:cornsilk;
  height: 20px;
}